@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background:  #fff;
}
  .fixed{
    position: fixed;
    top: 0;
    padding-top: 5px;
    width: 100%;
    height: 60px;
    z-index: 99;
    background-color: #000000;
    box-shadow: 0 5px 15px 0  #333;
  }

nav{
  background: #000000; 
  box-sizing: border-box;
  box-shadow: 0 5px 15px 0  #333;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ffff;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  padding: 0;
  margin: 0;
  color: white;
  font-size: 33px;
  font-weight: 400;
  position: relative;
  letter-spacing: -1px;
  float: left;
  padding-top: 3px;
  margin-left: 2rem;
}
nav ul{
  list-style: none;
  position: relative;
  text-align: center;
}
nav ul li{
  text-align: center;
  display: inline-block;
  background:  #000000;
  margin: 0 5px;
}
nav ul li a{
  color: cyan;
  line-height: 60px;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 15px;
}
nav ul li a:hover, .active a, #btn-1{
  color: #156ee2;
  border-radius: 5px;
  box-shadow:  0 0 5px #ffff,
               0 0 10px #ffff;          
}
nav ul ul li a:hover{
  box-shadow: green;
}
nav ul ul{
  position: absolute;
  top: 60px;
  border-top: 3px solid #c92e89;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul li:hover > ul{
  top: 60px;
  opacity: 1;
  visibility: visible;
  z-index: 99;
}
nav ul ul li{
  position: relative;
  text-align: left; 
  margin: 0px;
  width: auto;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
  padding: 5px 10px;
  padding-left: 20px;
}

.show,.icon,input{
  display: none;
}
.fas{
  padding-left: 10px;
}


@media  (max-width: 968px) {
.nav-all{
  background-color: #000000;
}
.fixed{
  border-bottom: 1px solid #ffff;
  background-color: red;
  height: auto;
  margin-top: -5px;
  line-height: 50px;
}
  nav{
    background-color: #000000;
    border-bottom: none;
  }
  nav ul{
    margin-right: 0px;
    float: left;
    width: 90%;
  }
  nav ul li{
    margin-left: 0;
    text-align: left;
    width: 100%;
    background:	#000000;
    z-index: 99;
  }
  nav ul li a{
    margin: 0;
    padding: 0px 20px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
  }
  nav ul li a:hover{
    color: #156ee2;
  }
  nav ul ul li{
    background: #202020;
  }
  nav ul ul li a{
    color: #fff;
  }

  .active a{
    box-shadow: none;
    font-weight: 600;
  }
  nav .logo{
    background-color: #000000;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    text-align: center;
    width: 100%; 
    font-size: 28px;
    font-weight: 400;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li, nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  }
  .show:hover{
    color: #156ee2;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    margin-left: 20px;
    line-height: 60px;
    cursor: pointer;
    font-size: 20px;
}

  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
  .fas{
    padding-left: 10px;
  }
}
@media (max-width: 370px){
  nav .logo{
background-color: #000000;
    font-size: 30px;
  }
}

/* Rolling Slide Start */
/* Rolling Slide Start */

.wrapperss{
  width: 100%;
  margin-top: 120px;
}
.carousel{
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.carousel .card{
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 20px;
  margin-top: 10px;
  height: 200px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 15px #fff;
}
.carousel .card-1{
  background:  #100e17;
  color:  cyan;
  font-size: 15px;
  font-weight: 400; 
}
.carousel .card-2{
  position: relative;
  padding: 0;
  background: #0072bc;
}
.carousel .card-2 img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: relative;
}
.carousel .card-3{
  position: relative;
  padding: 0;
  background: #39b54a;
}

.carousel .card-3 img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: relative;
}
.carousel .card-4{
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  background: #f26522;
  border-radius: 10px;
}
.carousel .card-4 img{
  padding: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: relative;
}
.carousel .card-5{
  background: #630460;
  position: relative;
  padding: 0;
}
.carousel .card-5 img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: relative;
}
.owl-dots{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}
.owl-dot{
  height: 15px;
  width: 25px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #100e17!important;
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background:  #100e17!important;
  box-shadow: 0 0 5px #c92e89,
              0 0 10px #c92e89;
  z-index: -50;
}
.wrapper .card-1 .imgbox1 img{
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

@media (max-width: 880px){
  .wrapperss{
    margin-top: 100px;
  }

}

@media (max-width: 680px){
  .owl-dots{
    margin-top: 20px;
}
.carousel{
  margin-top: 10px;
}
.carousel .card-1{
  padding: 0;
}
.carousel .card-1 p{
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
}
.owl-dot{
  height: 10px;
  width: 10px;
  margin: 0 5px;
  margin-bottom: 0;
}
.owl-dots{
  margin-top: 10px;
  margin-bottom: 0;
}
.wrapperss{
  margin-top: 80px;
}
}

  
/* Rolling Slide end*/ 

/*
.link{
  background-color: #fff;
  opacity: 0.9;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.link a {
  color: #156ee2;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
}
.link h1{
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-size: 28px;
  border-bottom: 2px solid  #39b54a;
  text-align: center;
}
.link h2{
margin: 5px 10px;
padding: 10px;
font-size: auto;
border: 2px solid #39b54a;
border-radius: 10px;
background-color: #000000;
color: #fff;
text-align: center;
}

.link h2 a{
  margin: 0;
  margin: 0;
}

.link h3{
  padding: 0;
  font-size: 23px;
  padding: 10px;
  margin: 0px 60px;
  font-weight: 300;
  color:  #c92e89;
  text-align: center;
  text-decoration: underline;
}

.link h2:hover{
background-color: #fff;
border-radius: 10px;
padding: 10px;
color: black;
}

.link h3 a{
 text-align: center;
 margin-left: 50px;
 text-decoration: none;
 color: #0072bc;
}

@media (max-width: 680px){

.link{
  width: auto;
  font-size: 9px;
  box-sizing: border-box;
  margin: 10px;
  margin-top: 20px;
  padding: 0;
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 30px;

}
.link h2 a {
  text-align: center;
}
.link h1{
  margin: 0;
  padding: 5px;
  border-bottom: 3px solid  #39b54a;
  font-size: 20px;
}
.link h2{
margin: 5px 10px;
padding: 10px;
font-size: 16px;
text-align: center;
}

.link h3{
  font-size: 15px;
  margin: 0px 10px;
  padding-bottom: 5px;
  color:  #c92e89;
}
.link h3 a{
  margin: 0;
  padding: 0;
 text-align: center;
 text-decoration: none;
 color: #c12725;
 text-decoration: none;
}
}
*/

.experience{
  margin: 0;
  padding: 0;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 10px;
}

.experiencehead{
  margin: auto;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  padding-bottom: 40px;
  background-color: #fff;
  opacity: 0.9;
  width: 75%;
  border-radius: 10px;
  text-align: center;
}

h1{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 0;
  padding-top: 6px;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  border-bottom: 2px solid  #39b54a;
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}
.experience thead tr{
  text-align: center;
  font-weight: 600;
  margin-top: 0;
  font-size: 20px;
  color: #c92e89;
  border-bottom: 1px dotted #535353;
  line-height: 50px;
}
 .experience tbody td{
    margin: auto;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #39b54a;
 }

 @media (max-width: 680px){


  .experiencehead{
    margin: 0;
    background-color: #fff;
    margin: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    min-width: auto;
    width: 97%;
  }
  .experience{
    min-width: 100%;
    margin: 0;
    padding: 0; 
    margin-top: 10px;
    border-radius: 10px;
  }
  .thead, h1{
    margin: 0;
    padding: 5px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 400 !important;
    color: #fff;
    border-radius: 10px;
    border-bottom: 3px solid #39b54a;
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  }

  .experience thead tr{
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-top: 0;
    line-height: 36px;
    color: #c92e89;
  }
  
  .experience tbody td{
    padding: 5px;
    font-size: 12px;
    font-weight: 300;
    border-bottom: 1px solid  #39b54a;
 }
 }



 .Award{
  margin: auto;
  padding: 0;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  background-color: #fff;
  opacity: 0.9;
  width: 75%;
  text-align: center;
  border-radius: 10px;
}
.Award h1{
 margin: 0;
 margin-top: 20px;
 padding: 0;
 padding-top: 10px;
 border-bottom: 2px solid  #39b54a;
 border-radius: 10px;
 color: #fff;
 background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}
.Award p{

 margin-left: 60px;
 color:  black;
 margin-right: 80px;
 font-size: 15px;
 text-align: justify;
 font-weight: 500;
 border-radius: 10px;

}
.Award h2{

 margin-left: 60px;
 padding-top: 20px;
 padding-bottom: 5px;
 font-weight: bold;
 font-size: 18px;
 margin-right: 60px;
 text-decoration: none;
 text-align: left;
}
.Award a{
  font-size: 15px;
  text-decoration: none;
}
.Award a{

  margin: 0;
  padding-left: 5px;
  color: #156ee2;
 }
 .Award a:hover{
color: red;
background: yellow;
padding: 0px 10px;
border-radius: 5px;
 }
 .Award h6{
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: #f4f4f4;
}



 @media (max-width: 680px){

  .first-award{
  }
  .second-award{
    margin-top: 10px;
  }
  .Third-award{
   margin-top: 10px;
  }

 .fourth-award{
  margin-top: 10px;
  }

.fifth-award{
margin-top: 10px;
}

#award{
  width: auto;
  margin: 10px 8px;
  padding: 0;
  box-shadow: 0px 5px 15px #071425;
  border-radius: 10px;
}
#award p{
text-align: left;
margin: 10px;
color: #535353;
padding: 0px 5px;
font-size: 13px;
}
#award h1{
  margin: 0px;
  padding: 10px 0px 5px 5px;
  text-align: center;
  border-bottom: 3px solid #39b54a;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );

  }
   #award h2{
    margin: 0px 5px;
    padding: 10px 2px 0px 2px;
    font-size: 13px;
    text-decoration: none;
   }
   #award a{
     font-size: 12px;
   }
   #award h6{
     height: 30px;
     font-size: 5px;
     background-color: #003B4A;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
   }
}

.patent{
  margin: auto;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  width: 75%;
  opacity: 0.9;
  border-radius: 10px;
}

.patent h1{
  margin: 0;
  padding-top: 10px;
  margin-top: 20px;
  border-bottom: 2px solid #39b54a;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  }

.patent h2{
margin-left: 60px;
margin-right: 60px;
padding-top: 20px;
padding-bottom: 5px;
color: #c92e89;
border-bottom: 1px dotted #535353;
}
.patent h3{
  margin-left: 60px;
  padding-top: 5px;
  font-size: 16px;
  text-decoration: underline;
  }
  .patent h4{
    margin-left: 60px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: underline;
    }
    .patent p{
      margin-left: 60px;
      font-size: 15px;
      font-weight: 500;
      }
      .patent a:hover {
        background-color: yellow;
        color:  red;
        padding: 0px 5px;
        border-radius: 5px;
      }

      .patent a{
        color: #156ee2;
        text-decoration: none;
      }
      .patent p:last-child{
        padding-bottom: 30px;
      }

 @media (max-width: 680px){

        .patent{
          margin: 10px;
          border-radius: 10px;
          width: auto;
        }
        .patent h1{
          margin: 0;
          padding: 7px 0px;
          text-align: center;
          border-radius: 10px;
          border-bottom: 3px solid #39b54a;
          color: #fff;
          background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
        }
        .patent h2{
          margin-left: 10px;
          margin-right: 10px;
          font-size: 18px;
          line-height: 16px;
          margin-top: 10px;
          border-bottom: 1px dotted #535353;
          padding-bottom: 10px;
          color: #c92e89;
          text-decoration: none;
        }
        .patent h3{
          margin-left: 10px;
          margin-right: 10px;
          font-size: 15px;
          margin-top: 5px;
          padding-top: 0;
        }
        .patent h4{
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 20px;
          border-bottom: 1px solid #535353;
          font-size: 14px;
          text-decoration: none;
        } 
        .patent p{
          margin-top: 5px;
          margin-left: 10px;
          margin-right: 10px;
          font-weight: 500;
          font-size: 14px;
        }
        .patent a{

          padding-left: 5px;
          font-size: 12px;
          text-decoration: none;
          color: #156ee2;
        }
      }


      .end{
        box-sizing: border-box;
        background-color: #100e17;
        color:  #fff;
        text-align: center;
        width: auto;
        position: relative;
        line-height: 36px;
        margin-top: 100px;
        box-shadow: 0px 5px 15px #071425;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .end p{
        text-align: center;
        margin: 0;
        margin-top: 20px;
        font-size: 13px;
        padding-bottom: 30px;
      }
      .end ul{
      margin: 0;
      padding: 0;
      text-align: center;
      display: contents;
      }
      .end ul li{
        display: inline-block;
        margin: 0;
        padding-left: 5px;
        margin-top: 30px;
      }
      .end ul li a{
        margin: 0;
        margin: 10px;
        padding: 0;
        color:  #fff;
        text-align: center;
        display: block;
        border-radius: 50%;
        font-size: 18px;
        height: 36px;
        width: 36px;
        background: black;
        border-bottom: 2px solid #c92e89;
        border-top: 2px solid #c92e89;
      }

      .end h3{
        margin: 0;
        padding: 0;
        padding-top: 10px;
        font-size: 25px;
        font-weight: 500;
        color:  #fff;
        border-radius: 10px;
        border-bottom: 2px solid  #fff;
        background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
      }
      .end ul li a:hover{
        background-color: white;
        color: black;
      }
      

      @media (max-width: 680px){

      .end p{
      text-align: center;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      }

      .end ul{
        min-width: 100%;
      }
      .end ul li{
        min-width: auto;
      }

      .end ul li a{
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #c92e89;
        border-top: 1px solid #c92e89;
      }

    .end h3{
      padding-top: 10px;
      padding: 4px 0px;
      background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
      color: #fff;
      border-radius: 10px;
      border-bottom: 2px solid #fff;
      font-size: 18px;
      font-weight: 300;
    }

    #end{
      margin: 3px;
      padding: 0;
      margin-bottom: 0;
      margin-top: 80px;
      border-radius: 10px;
      background-color: #100e17;
      border: 1px solid #fff;
      border-bottom: none;
      padding-bottom: 20px;
    }
    .end ul li a{
      margin: 5px;
    }
    .end ul li a:hover{
      background-color: #fff;
      color: black;
    }
  }

/* my resume */

  .resume
  {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  height: 200px;
  background: #fff;
  opacity: 0.9;
  width: 75%;
  border-radius: 10px;
   }

.resume h1{
  padding-top: 10px;
  text-align: center;
}
.resume h2{
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

.resume a{
  margin: 0;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid  #fff;
  color:  black;
  box-shadow:   0 0 5px #c92e89,
                0 0 10px #c92e89; 
  border-radius: 5px;
  box-sizing: border-box;
}
.resume a:hover{
  color: #156ee2;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow:  0 0 5px #156ee2,
               0 0 10px #156ee2; 
}

@media (max-width: 680px){

  .resume{
    margin: 10px;
    border-radius: 10px;
    height: 140px;
    background-color: #fff;
    width: auto;
  }

  .resume h2{
    padding: 0;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.resume h2 a{
  margin: 0;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px;
  color: black;
  background-color: #fff;
  box-shadow:  0 0 5px #156ee2,
               0 0 10px #156ee2; 
}
.resume a:hover{
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 10px 15px;
  box-shadow:  0 0 5px #c92e89,
               0 0 10px #c92e89; 
}
}

.gallery{
  border: 1px solid #ddd;
  width: 100%;
  min-height: 50px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: #100e17;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  padding-bottom: 20px;
  border-radius: 10px;
}
.gallery h1{
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid #fff;
}
.gallery .box{
  position: relative;
  width: 208px;
  height: 170px;
  background: #100e17;
  margin: 10px 10px 10px 0px;
  box-shadow: 0px 5px 15px #071425;
}

.gallery .box .imgbox{
position: relative;
overflow: hidden;
}

.gallery .box .imgbox img{

  width: 208px;
  height: 170px;
  transition: transform 1s;
  position: relative;
  }

  .gallery .box:hover .imgbox img{
    transform: scale(1.2);
  }


  .gallery .box .details{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: -7px;
    right: 0px;
    background-color: #100e17;
    opacity: 0.9;
    transform: scaleY(0);
    transition: transform .5s;
    box-sizing: border-box;
  }

  .gallery .box:hover .details{
    transform: scaleY(1 );
  }

  .gallery .box .details .content{
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 5px;
    padding-top: 0;
    box-sizing: border-box;
    width: 100%;

  }

  .gallery .box .details .content h2{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
    color:   #c92e89;
    text-align: center;
  }

  .gallery .box .details .content p{
    margin: 8px;
    padding: 10px;
    font-size: 11px;
    color:  cyan;
    text-align: center;
    box-sizing: border-box;
    border: 1px dotted #ddd;
     }

  .gallhead h1{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    border: none;
    text-decoration: underline;
  }
  .gallhead{
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    box-shadow: 0px 5px 15px #071425;
  }

  @media  (max-width: 680px){

    .gallery{
      margin: 10px;
      padding: 0;
      margin-top: 20px;
      padding-bottom: 15px;
      background-color:  #100e17;
      box-shadow: 0px 5px 15px #071425;
      width: auto;
      border-radius: 10px;
      border: 1px solid #fff;
    }

    .gallery h1{
      display: block;
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
      border-bottom: 3px solid #fff;
    }

    .gallery .box{
      width: 165px;
      height: 120px;
      justify-content: center;
      margin: 5px;
  }
  .gallery .box .imgbox img{
    border-radius: 2px;
    width: 165px;
    height: 120px;
    transition: transform 1s;
    position: relative;
    }
  

  .gallery .box .details .content p{

    box-sizing: content-box;
    font-size: 7px;
    color:  cyan;
}

.gallery .box .details .content h2{

  box-sizing: content-box;
  font-size: 10px;
  margin: 0;
  color:  #c92e89;
}

.gallery .box:hover .details{
  transform: scaleY(1);
}
}

/* back to top start  */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 200px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: red; 
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  box-shadow:  0 0 5px  #156ee2,
               0 0 10px  #156ee2;
}
#myBtn p{
  display: none;
}

#myBtn:hover, #myBtn p:hover{
  background-color:  #100e17;
  display: contents;
  display: all;
}

@media (max-width: 680px){
  #myBtn{
  right: 5px;
  bottom: 5px;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: lighter;
}
#myBtn p{
  display: none;
}
#myBtn:hover{
  display: contents;
}
}
/* back to top end  */
