@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background:  #fff;
}

nav{
  background: #100e17; 
  box-sizing: border-box;
}

nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  margin-left: 50px;
  margin-right: 40px;
  color: white;
  font-size: 32px;
  font-weight: 600;
  line-height: 70px;
  position: relative;
  letter-spacing: -1px;
}
nav ul{
  list-style: none;
  position: relative;
  text-align: center;
}
nav ul li{
  text-align: center;
  display: inline-block;
  background:  #100e17;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover, .active a, #btn-1{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #c92e89,
               0 0 10px #c92e89;          
}
nav ul ul li a:hover{
  box-shadow: green;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid #c92e89;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  text-align: left; 
  margin: 0px;
  width: auto;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
  padding: 5px 10px
  padding-left: 20px;
}

.show,.icon,input{
  display: none;
}
.fas{
  padding-left: 10px;
}


@media  (max-width: 968px) {
  
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav ul li{

    text-align: left;
    width: 90%;
  }

  .active a{
    background-color: #100e17;
    box-shadow: none;
  }
  nav .logo{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    text-align: center;
    width: 100%; 
  }
  .show + a, ul{
    display: none;
  }
  nav ul li, nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    margin-left: 20px;
    line-height: 70px;
    cursor: pointer;
    font-size: 20px;
}

  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
  .fas{
    padding-left: 10px;
  }
}
@media (max-width: 370px){
  nav .logo{

    font-size: 30px;
  }
}

/*This is new code pasted here from earlier slide*/ 

.blank{
  height: 20px;
}

.link{

  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  box-shadow: 0px 5px 15px #071425;
  margin-top: 10px;
}


.link a {
  color: #156ee2;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
}
.link h1{
  margin: 0;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 36px;
  font-size: 28px;
  border-bottom: 1px solid #535353;
}
.link h2{
font-size: 20px;
margin-left: 60px;
padding: 5px 0;
margin-bottom: 5px;
margin-top: 10px;
}
.link h3{
  font-size: 20px;
  margin-left: 60px;
  padding: 0;
  border-bottom: 1px dotted #535353;
  color:  #c92e89;
  line-height: 36px;
  margin-right: 60px;
}
.link h3 a{
 text-align: center;
 margin-left: 50px;
 text-decoration: none;
 color: #535353;
}

.link h2:last-child{

  padding-bottom: 20px;
}

@media (max-width: 680px){

  .link{
  font-size: 9px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.link a {
  color: #156ee2;
  margin-left: 10px;
  text-align: center;
}
.link h1{
  margin: 0;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 36px;
  border-bottom: 1px solid #535353;
  font-size: 20px;
  padding-left: 0;
}
.link h2{
margin: 5px 20px;
padding: 5px 0;
font-size: 14px;
}
.link h3{
  font-size: 15px;
  margin: 0px 10px;
  padding-left: 5px;
  border-bottom: 1px dotted #535353;
  color:  #c92e89;
  line-height: 36px;
}
.link h3 a{
 text-align: center;
 margin-left: 50px;
 text-decoration: none;
 color: #c12725;
 text-decoration: none;
}
}

.experience{
  border-collapse: collapse;
  margin: 20px;
  margin-left: 60px;
  margin-top: 20px;
  font-size: 0.9em;
  min-width: 400px;

}
.experiencehead{
  box-shadow: 0px 5px 15px #071425;
  padding-bottom: 10px;
}

h1{
  padding-top: 10px;
  margin: 10px 50px;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 28px;
  border-bottom: 1px solid #071425;
}
.experience thead tr{
  text-align: left;
  font-weight: 600;
  margin-top: 0;
  font-size: 20px;
  color: #c92e89;
  border-bottom: 1px dotted #535353;
  line-height: 36px;
}
 .experience tbody td{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
 }

 @media (max-width: 680px){


  .experiencehead{
    background-color: #fff;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }
  .experience{
    min-width: auto;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  .experience, h1{
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 20px;
  }
  .experience thead tr{
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-top: 0;
    line-height: 36px;
    color: #c92e89;
  }
  
  .experience tbody td{
    padding: 5px 10px;
    font-size: 14px;
    color: #535353;
    border-bottom: 1px dotted #535353;
 }
 }



 .Award{
  margin: 0;
  padding: 0;
  box-shadow: 0px 5px 15px #071425;
  background-color: #fff;
}
.Award h1{
 padding-top: 20px;
 margin-left: 50px;
 border-bottom: 1px solid #535353;
}
.Award p{

 margin-left: 60px;
 color:  black;
 margin-right: 80px;
 font-size: 15px;
 text-align: justify;
 font-weight: 500;
}
.Award h2{

 margin-left: 60px;
 padding-top: 20px;
 padding-bottom: 5px;
 font-weight: bold;
 font-size: 18px;
 margin-right: 60px;
 text-decoration: underline;
}
.Award a{
  font-size: 15px;
  text-decoration: none;
}
.Award a{

  margin: 0;
  padding-left: 5px;
  color: #156ee2;
 }
 .Award a:hover{
color: blue;
background: yellow;
 }

 #awardspace{

  margin-bottom: 30px;
  padding-bottom: 30px;
 }
 .Award h4{
  display: none;
}



 @media (max-width: 680px){

  .Award{

    margin: 0;
    padding: 0;
    box-shadow: 0px 5px 15px #071425;
  }
  .Award h1{

    margin-left: 10px;
    border-bottom: 1px solid #535353;
   }
   .Award h2{

    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    padding-bottom: 0px;
    padding-bottom: 5px;
    text-decoration: none;

   }
   .Award p{

    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-align: justify;
    border: none;
    background-color: #071425;
    opacity: 0.9;
    color:  white;
    padding: 5px;
    font-style: italic;
}
.Award a{
  font-size: 10px;
}
.Award  #awardspace{

padding-bottom: 5px;
 }
 .Award h4{
   background-color: #fff;
   color: #fff;
   font-size: 1px;
   display: contents;
 }
}

.patent{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px dotted #ddd;
  box-shadow: 0px 5px 15px #071425;
}

.patent h1{
  margin-top: 20px;
  margin-left: 50px;
  border-bottom: 1px solid #535353;
  }
.patent h2{
margin-left: 60px;
margin-right: 60px;
padding-top: 20px;
padding-bottom: 5px;
color: #c92e89;
border-bottom: 1px dotted #535353;
}
.patent h3{
  margin-left: 60px;
  padding-top: 5px;
  font-size: 16px;
  text-decoration: underline;
  }
  .patent h4{
    margin-left: 60px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: underline;
    }
    .patent p{
      margin-left: 60px;
      font-size: 15px;
      font-weight: 500;
      }
      .patent a:hover {
        background-color: yellow;
        color: #c12725;
      }

      .patent a{
        color: #156ee2;
        text-decoration: none;
      }
      .patent p:last-child{
        padding-bottom: 30px;
      }

 @media (max-width: 680px){

        .patent{
          margin: 0;
          margin-top: 20px;
          margin-left: 0;
        }
        .patent h1{
          margin-top: 10px;
          margin-left: 10px;
          margin-right: 10px;
          padding-left: 0;
        }
        .patent h2{
          margin-left: 10px;
          margin-right: 10px;
          font-size: 18px;
          line-height: 16px;
          margin-top: 10px;
          border-bottom: 1px dotted #535353;
          padding-bottom: 10px;
          color: #c92e89;
          text-decoration: none;
        }
        .patent h3{
          margin-left: 10px;
          margin-right: 10px;
          font-size: 15px;
          margin-top: 5px;
          padding-top: 0;
        }
        .patent h4{
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 20px;
          border-bottom: 1px solid #535353;
          font-size: 14px;
          text-decoration: none;
        } 
        .patent p{
          margin-top: 5px;
          margin-left: 10px;
          margin-right: 10px;
          font-weight: 500;
          font-size: 14px;
        }
        .patent a{

          padding-left: 5px;
          font-size: 12px;
          text-decoration: none;
          color: #156ee2;
        }
      }


      .end{
        box-sizing: border-box;
        background-color: #100e17;
        color: silver;
        text-align: center;
        width: 100%;
        position: relative;
        line-height: 36px;
        margin-top: 50px;
        border: none;
        box-shadow: 0px 5px 15px #071425;
      }
      .end p{
        text-align: center;
        margin: 0;
        font-size: 13px;
      }
      .end ul{
      margin: 0;
      padding: 0;
      text-align: center;
      }
      .end ul li{
        display: inline-block;
        margin: 0;
        padding-left: 5px;
      }
      .end ul li a{
        margin: 0;
        margin-top: 20px;
        padding: 0;
        color:  #fff;
        text-align: center;
        display: block;
        border-radius: 50%;
        font-size: 20px;
        height: 35px;
        width: 35px;
        background: black;
        border-bottom: 1px solid #c92e89;
        border-top: 1px solid #c92e89;
      }

      .end h3{
        padding-top: 5px;
        padding-bottom: 5px;
        color: silver;
        font-family: Greatvibes;
        border-bottom: 1px solid  silver;
        
      }
      .end ul li a:hover{
        background-color: white;
        color: black;
      }
      .end ul{
        display: contents;
      }
      

      @media (max-width: 680px){

      .end p{

      margin-right: 40px;
      margin-left: 50px;
      text-align: center;
      }

      .end ul{
        display: contents;
      }
      .end ul li a{
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid #c92e89;
        border-top: 1px solid #c92e89;
      }

    .end h3{
      padding-top: 10px;
      padding-bottom: 10px;
      display: relative;
    }
    .end{

      margin-top: 50px;
    }
    .end ul li a:hover{
      background-color: white;
      color: black;
    }
  }

/* my resume */

.resume{
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 15px #071425;
  height: 200px;
}

.resume h1{
  padding-top: 10px;
}
.resume h2{
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.resume a{
  margin: 0;
  text-align: center;
  margin-left: 50px;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #f7f7f7;
  color:  #156ee2;
  box-shadow:   0 0 5px red,
                0 0 10px  red; 
  border-radius: 5px;
  box-sizing: border-box;
}
.resume a:hover{
  color: #156ee2;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow:  0 0 5px #156ee2,
               0 0 10px #156ee2; 
}

@media (max-width: 680px){

  .resume{
    height: 140px;
    background-color: #fff;
  }

  .resume h2{
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.resume h2 a{
  margin: 0;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 15px;
  color: #156ee2;
  box-shadow:  0 0 5px #156ee2,
               0 0 10px #156ee2; 
}
.resume a:hover{
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 10px 15px;
  box-shadow:  0 0 5px red,
               0 0 10px  red; 
}
}

.gallery{
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  width: 100%;
  min-height: 50px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: #100e17;
  box-shadow: 0px 5px 15px #071425;

}
.gallery .box{
  position: relative;
  width: 208px;
  height: 170px;
  background: #100e17;
  margin: 10px 10px 10px 0px;
  box-shadow: 0px 5px 15px #071425;
}

.gallery .box .imgbox{
position: relative;
overflow: hidden;
}

.gallery .box .imgbox img{

  width: 208px;
  height: 170px;
  transition: transform 1s;
  position: relative;
  }

  .gallery .box:hover .imgbox img{
    transform: scale(1.2);
  }


  .gallery .box .details{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: -7px;
    right: 0px;
    background-color: #100e17;
    opacity: 0.9;
    transform: scaleY(0);
    transition: transform .5s;
    box-sizing: border-box;
  }

  .gallery .box:hover .details{
    transform: scaleY(1 );
  }

  .gallery .box .details .content{
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 5px;
    padding-top: 0;
    box-sizing: border-box;
    width: 100%;

  }

  .gallery .box .details .content h2{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
    color:   #c92e89;
    text-align: center;
  }

  .gallery .box .details .content p{
    margin: 8px;
    padding: 10px;
    font-size: 11px;
    color:  cyan;
    text-align: center;
    box-sizing: border-box;
    border: 1px dotted #ddd;
     }

  .gallhead h1{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    border: none;
  }
  .gallhead{
    background-color: #fff;
    border-top: 1px dotted #ddd;
    box-shadow: 0px 5px 15px #071425;
  }

  @media  (max-width: 680px){

    .gallhead h1{
      margin-top:  10px;
      padding-top: 10px;
      text-align: center;
    }
    .gallhead{
      margin-top: 0;
    }

    .gallery{
      padding-top: 5px;
      padding-bottom: 5px;
      background-color:  #100e17;
      box-shadow: 0px 5px 15px #071425;
      width: 100%;
    }

    .gallery .box{
      width: 165px;
      height: 120px;
      justify-content: center;
      margin: 5px;
  }
  .gallery .box .imgbox img{

    width: 165px;
    height: 120px;
    transition: transform 1s;
    position: relative;
    }
  

  .gallery .box .details .content p{

    box-sizing: content-box;
    font-size: 7px;
    color:  cyan;
}

.gallery .box .details .content h2{

  box-sizing: content-box;
  font-size: 10px;
  margin: 0;
  color:  #c92e89;
}

.gallery .box:hover .details{
  transform: scaleY(1);
}
}
