body{
    background-color: #ececec;
    height: 100%;
   }
   
   .first
   {
     border: 2px solid #156ee2;
     width: 96%;
     margin-left: 2%;
    background-color: #071425;
   margin-bottom: 10px;
   color: #156ee2;
   }
   
   .first p{
   
     text-align: center;
     font-size: 17px;
     margin-top: 0;
     color: white;
   }
   .first h1{
   
     text-align: center;
     font-size: 35px;
     margin-top: 10px;
     color: #9e0e62;
   }
   .nav ul
   {
   margin: 0;
   padding: 0;
   list-style: none;
   height: 36px;
   line-height: 36px;
   width: 96.1%;
   margin-left: 2%;
   background-color: #071425;
   font-family: Helvetica;
   font-size: 15px;
   border: 1px solid blue;
   text-align: center;
   }
   
   
   .nav li 
   {
       display: inline-block;
       border-right: 1px solid #156ee2;
       text-align: center;
       float: left;
       width: 255.2px;
;   }
    .nav a {
        display: block;
        padding: 0 38px;
        color:white;
        text-decoration: none;
    }
   
   a:hover, .active a{ 
   background-color: #156ee2;
   
    }
   
    .sub-menue{
      display: none;
   
    }
   
    .nav ul li:hover .sub-menue{
      display: block;
      position: absolute;
      margin-left: 0;
   
    }
   
    .nav ul li:hover .sub-menue ul{
      display: block;
      margin: 0;
      width: 250px;
    }
    .nav ul li:hover .sub-menue ul li{
      width: 50px;
      padding: 0;
      border-bottom: 1px solid  #156ee2;
      background: #071425;
      text-align: left;
      width: 100%;
      border-radius: 0;
    }
   .xspark{

    margin-left: 2%;
    width: 95%;
    text-align: left;
    padding: 20px;
    text-align: justify;
   }
   .xspark p{
    width: 96%;
    margin: 0;
    padding: 0;
   }
   .xspark h1{
     margin: 0;
     padding: 0;
     color: red;
   }

   .xspark h4{

    text-align: center;
    color: red;
    padding-left: 300px;
    padding-right: 300px;
   }


   .end{
    background-color: #071425;
    color: #797979;
    text-align: center;
    margin-left: 2%;
    width: 96%;
    position: relative;
    line-height: 36px;
    border-left: 3px solid #156ee2;
    border-right: 3px solid #156ee2;
    border-bottom: 3px solid #156ee2;
  }
  .end p{
    text-align: center;
    margin: 0;
  }
  .end ul{
  margin: 0;
  padding: 0;
  text-align: center;
  }
  .end ul li{
    display: inline-block;
    margin: 0;
  }
  .end ul li a{
    margin: 0;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 0;
    margin-right: 2px;
    color: #156ee2;
    text-align: center;
    display: block;
    border-radius: 50%;
    font-size: 20px;
    height: 22px;
    width: 30px;
    background: black;
  }
  .end h3{
    color: black;
    background-color: #156ee2;
  }
  .end a:hover{
    background-color: white;
  }